.box{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;

    /* 주축: 가로 */
    /* 자식들을 주축으로 맨앞(start) 가운데(center) 맨뒤(end) 균일한 간격: space-between */
    justify-content: space-between;

    /* 자식들을 교차축으로 */
    align-items: end;
}
.navy{
    width: 100px;
    height: 100px;
    background-color: navy;
}
.gray{
    width: 100px;
    height: 100px;
    background-color: gray;
}
.green{
    width: 100px;
    height: 100px;
    background-color: green;
}