@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Song+Myung&display=swap');
@font-face {
    font-family: 'Ownglyph_UNZ-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    width: 100vw;
    height: 300vh;
    background-color: skyblue;
}
.menu{
    padding: 20px;
    border: 3px solid pink;
    width: fit-content;
    font-size: 30px;

    position: fixed;
    /* top or bottom: 0px */
    /* left or right: 0px */
    bottom: 100px;
    right: 100px;
}

.morning{
    font-family: 'Ownglyph_UNZ-Rg';

}

.lunch{
    font-family: "Nanum Pen Script", cursive;

}
.dinner{
    font-family: "Song Myung", serif;

}