.palette{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row; 
}
.box{
    width: 100px;
    height: 100px;
}
.one {
    background-image: url("europe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.two {
    background-color: #81ecec;
}
.three {
    background-color: #74b9ff;
}
.four {
    background-color: #00b894;
}
.five {
    background-color: #00cec9;
}
.six {
    background-color: #0984e3;
}
.seven {
    background-color: #ffeaa7;
}
.eight {
    background-color: #fab1a0;
}
.nine {
    background-color: #ff7675;
}