.box{
    /* flex는 자기 자식들의 가로[기본] 또는 세로로 있도록 담당함 */
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
.red{
    width: 100px;
    height: 100px;
    background-color: red;
}
.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.pink{
    width: 100px;
    height: 100px;
    background-color: pink;
}

.musinsa{
    display: flex;
    flex-direction: row;
}
.clothes{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.image{
    width: 280px;
    height: 380px;
}
.image > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.discount{
    font-size: 12px;
}
.name{
    font-size: 14px;
    font-weight: 500;
}