.ediya {
    background-color: #2a47bf;
    color: white;
    border-radius: 8px;
    font-size:18px;
    font-weight: 700;
    width:440px;
    padding-top: 29px;
    padding-bottom: 29px;
    text-align: center;
    margin-bottom: 20px;
}
.kakao {
    background-color: #fee500;
    color: black;
    border-radius: 8px;
    font-size:18px;
    font-weight: 700;
    width:440px;
    padding-top: 29px;
    padding-bottom: 29px;
    text-align: center;
    margin-bottom: 20px;
}
.naver {
    background-color: #03c75a;
    color: white;
    border-radius: 8px;
    font-size:18px;
    font-weight: 700;
    width:440px;
    padding-top: 29px;
    padding-bottom: 29px;
    text-align: center;
    margin-bottom: 20px;
}
.starbucks {
    background-color: #006633;
    color: white;
    border-radius: 4px;
    font-size:18px;
    font-weight: 500;
    width:440px;
    padding-top: 29px;
    padding-bottom: 29px;
    text-align: center;
    margin-bottom: 20px;
}